body {
   font-family: 'Nova Square', sans-serif;
    /*background: url('assets/wolfgang-hasselmann-pVr6wvUneMk-unsplash.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgb(148, 93, 6);
    background-color: white;*/
    color:white;
    background: url('https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
/*nav bar secetion*/
.nav{
    display: block;
    list-style-type: none;
    transition: ease-in-out 1s;
}
#top{
    scroll-behavior: smooth;
}

.navBar{
    background-color:rgba(10, 61, 112, 0.279);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border:rgba(173, 171, 166,0);
    border-radius: 500px;
    transition: ease-in-out 3s;
}
.title{
    font-size: 2.3rem;
    color:white;
    transition: ease-in-out .3s;
}
.nav li{
transition: ease-in-out .3s;
}
.nav li:hover, .nav .title:hover{
    color: rgb(242, 207, 92);
}
.grid{
    display: inline-grid;
    position: relative;
    top:0; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
    row-gap: 1vh;
    column-gap: 1vw;
    width:20%;
    justify-content: space-around;
    align-self: center;
}
.slideDown{
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
    animation-name: slideDown;
}
.slideUP{
    animation-duration: 1.8s;
    animation-fill-mode: forwards; 
    animation-name: slideUp;
}
@keyframes slideDown {  
   35%{width: 20%;}
    100%{top: 100vh;
        display: none;
        width: 0%;}
}
@keyframes slideUp {  
    0%{display: inline-grid;
        top:100vh;
        width:0%}
     100%{top: 0vh;
        top:0;
         width: 20%;}
 }
.titleBox{
    background-color:rgba(69, 84, 99, 0.583);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    border:rgba(173, 171, 166,0);
    border-radius: 20px;
    text-align: center;
    font-size: 3rem;
    display: inline-block;
    padding:.75rem;
    margin-top: .5vh;
    margin-bottom: 1.5vh;
}


/*xp section*/
.sectionHead{
    margin-left: 5rem;
    font-size: 3rem;
}
.box {
    display:inline-block;
    font-family: 'Titan One', sans-serif;
    height :8vw;
    width: 8vw;
    background-color:rgba(20, 29, 30, 0.3);
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px);
    border-left:1px solid rgba(235, 233, 233, 0.684);
    border-top:1px solid rgba(235, 233, 233, 0.684);
    border-radius: 25px;
    color: red;
    transition: ease-in-out .5s;
    animation-duration: 4s;
    animation-fill-mode: forwards; 
}


.xpImage{
    height :7.5vw;
    width: 7.5vw;
    border-radius: 25px;
}
.MainXp{
    display: inline-flex;
    position: relative;
    vertical-align: top;
    font-family: 'Titan One', sans-serif;
    height :75vh;
    width: 70%;
    background-color:rgba(20, 29, 30, 0.3);
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px);
    border-left:1px solid rgba(235, 233, 233, 0.684);
    border-top:1px solid rgba(235, 233, 233, 0.684);
    border-radius: 25px;
    color: red;
    transition: ease .5s;
    
}
.expand{
    animation-duration: 1.8s;
    animation-fill-mode: forwards; 
    animation-name: expand;
}
.shrink{
    animation-duration: 1.8s;
    animation-fill-mode: forwards; 
    animation-name: shrink;
}
@keyframes expand {
    28%{width:70%}
    100%{width: 90%;}
}
@keyframes shrink {
    0%{width:90%}
    100%{width: 70%;}
}
.options{
    display: inline-block;
    vertical-align: top;
    flex-direction: column;
    justify-content: space-around;
    width:7%;
    height:75vh;
    background-color:rgba(20, 29, 30, 0.3);
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px);
    border-left:1px solid rgba(235, 233, 233, 0.684);
    border-top:1px solid rgba(235, 233, 233, 0.684);
    border-radius: 5000px;

}
.optionNav{
    display: flex;
    vertical-align: baseline;
    height: 75vh;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    align-items: center;
}
.optionButtons{
    background-color:rgba(167, 174, 174, 0.539);
    backdrop-filter: blur(90px);
    padding: .5vw;
    -webkit-backdrop-filter: blur(90px);
    border-left:1px solid rgba(235, 233, 233, 0.684);
    border-bottom:1px solid rgba(235, 233, 233, 0.684);
    border-radius: 5000px;
    font-size: 1.6vw;
    vertical-align: center;
    text-align: center;
    transform: rotate(90deg);
    width: fit-content;
    transition: ease-in-out .4s;
    cursor: pointer;
}
.optionButtons:hover{
    font-size: 1.8vw;
color: rgb(242, 207, 92);
}
.hidden{
    display: none;
}
    
 
/* xp nav*/
.dates{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding:0px;
    font-weight: 800;
    cursor: pointer;
    
}
.exSelect {
    border-radius: 5000px;
    background-color:rgba(128, 130, 131, 0.509);
    transition: ease-in-out .3s;
    transform: translateY(-12%);
    font-size: 2.5rem;
    transition: ease-in-out .5s;
    padding:.5rem;
    margin-bottom: 5rem;
}
/*active classes for the date and the hover*/
 .exSelect:hover{
font-size: 3.5rem;
color: rgb(242, 207, 92);
 }
 /*active classes for the exp items*/
.active{
    display:block;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.dactive{
    color: rgb(242, 207, 92); 
    
}

/*mid section 
mid grid*/

.midGrid{
    display: flex;
    flex-direction: row;
    justify-self: center;
   /* height: 30vh;*/
    gap: 5vw;
}
.mid{
    background-color:rgba(20, 29, 30, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-left:3px solid rgba(235, 233, 233, 0.684);
    border-top:3px solid rgba(235, 233, 233, 0.684);
    border-radius: 25px;
    color: red;
    height:30vh;
    transition: ease-in-out .5s; 
}

.mainMid{
    flex: 3;
   
}

.sideMid{
    flex: 1;
}
.midHead{
    transform: translateY(-100%);
    text-align: center;
    margin: 0;
    color:white;
}
.mid:hover{
    height:35vh;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(100px);
}
/*Lower mid section*/
spacer{
    display:block;
    height: 8rem
}
.LowerMidGrid{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5vw;
    justify-content: center;
    align-self: center;
}
.lowerMidBox{
    height :50vh;
    width: 45vw;
    background-color:rgba(20, 29, 30, 0.465);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-left:3px solid rgba(235, 233, 233, 0.684);
    border-top:3px solid rgba(235, 233, 233, 0.684);
    border-radius: 25px;
    color: red;
    transition: ease-in-out .5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.lowerMidBox:hover{
    width: 45vw;
    height:55vh;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}
/*Footer*/
/*Footer windows*/
.window{
    display: none;
    position: fixed;
    height :80vh;
    width: 75vw;
    top:7%;
    left:12%;
    font-family: 'Titan One', sans-serif;
    background-color:rgba(20, 29, 30, 0.595);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    border-left:1px solid rgba(235, 233, 233, 0.405);
    border-top:1px solid rgba(235, 233, 233, 0.405);
    border-radius: 25px;
    color: red;
}
.windowOpen{
    display: block;
    animation-duration: .5s;
    animation-name:OpenIcon ;
}
.windowClose{
    display: block;
    animation-duration: .5s;
    animation-name: CloseIcon;
}
@-webkit-keyframes OpenIcon{
    0% {top:105%;
        left:12%;
        height: 0px;
        width: 0px;
       }
      100% {height :80vh;
        width: 75vw;
        top:7%;
        left:12%;
      }  
}
@keyframes OpenIcon{
    0% {top:105%;
        left:12%;
        height: 0px;
        width: 0px;}
      100% {height :80vh;
        width: 75vw;
        top:7%;
        left:12%;}  
}
@-webkit-keyframes CloseIcon{
    0% {top:7%;
        left:12%;
        height :80vh;
        width: 75vw;
        
       }
      100% {
        top:105%;
        left:12%;
        height: 0px;
        width: 0px;
        
        
      }  
}
@keyframes CloseIcon{
    0% {top:7%;
        left:12%;
        height :80vh;
        width: 75vw;
        
       }
      100% {
        top:105%;
        left:12%;
        height: 0px;
        width: 0px;
        
        
      }   
}
.xButton{
    width: 5vh;
    height: 5vh;
    position: absolute;
    right:-2.5vh;
    top:-2.5vh;
    border-radius: 5000px;
    border: none;
    background-color:rgba(161, 181, 183, 0.341);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
}
.footerNav{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
    padding:0px;
    align-items: center;
    transition: ease-in-out .3s;
    align-items: center;
    position: relative;
    margin: 0px;
    width: 100%;

}
.footer{
    background-color:rgba(7, 13, 19, 0.414);
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px);
    border-left:1px solid rgba(235, 233, 233, 0.684);
    border-top:1px solid rgba(235, 233, 233, 0.684);
    border-radius: 5000px;
    transition: ease-in-out .2s;
    position: fixed;
    bottom: .8vh;
    left:0px;
    margin: .5rem 0rem;
    width:76%;
    margin: 0% 12%;
    height: 5vw;
    
}

.icons{
    position: relative;
    height: 5vw;
    width: 5vw;
    z-index: 1000;
    border-radius: 5000px;
    background-color:rgba(154, 158, 160, 0.671);
    transition: ease-in-out .3s;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    
    
    
}
.icons:hover{
    transform:translateY(-50%);
    
}
.footerText{
    height:100%;
    margin: auto;
    text-align: center;
    font-weight: 300;

}
.icons a{
    text-decoration: none;
    color: white;
    transition: ease-in-out 2s;
}
.imgIcon{
    height: 5vw;
    width: 5vw;
    border-radius: 5000px;
    cursor: pointer;
}
